

    <footer class="footer-distributed">

			<div class="footer-right">

				
               
                    <a target="_blank" href="https://www.facebook.com/pratyush.mishra.12382" class="nav-link"><i class="fa fa-facebook-official fa-lg text-primary"></i></a>
             
                
                    <a target="_blank" href="https://www.instagram.com/_pratyush_sipun_/?hl=en" class="nav-link"><i class="fa fa-instagram fa-lg instagram" ></i></a>
                
                
              
                    <a target="_blank" href="https://www.linkedin.com/in/pratyush-mishra-512824167/" class="nav-link"><i class="fa fa-linkedin"></i></a>
               

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a routerLink="../home">Home</a>

					<a routerLink="../about">about</a>

					<a routerLink="../photos">photos</a>

					<a routerLink="../contact-me">contact</a>
                </p>

				<p>My Website &copy; {{year}}</p>
			</div>

		</footer>