.main-text{
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center; 
     background-size: cover;
     height: 80vh;
     width: 96vw;
     position: absolute;
     left: 2vw;
     right: 2vw;
 }
 h1{
     font-weight: 700;
     text-transform: capitalize;
     color: white;
 }
 .main-text h1{
     position: relative;
     top: -60px;
 }
 .about-me{
     position: relative;
     top: 410px;
 }
 section{
    background: url('../../../../../WAllpapers/ipados-stock-orange-white-background-ipad-ios-13-hd-3208x3208-1551.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-attachment: scroll;
    background-position-x: left;
    background-position-y: center;
    height: 70vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}