<section>
<div class="container-fluid">
    <!-- <img src="https://source.unsplash.com/1600x900/?nature" class="img-fluid mb-5"> -->
    <div class="main-text">
        <h1 class="display-2">About Page</h1>
    </div>
    <!-- <div class="about-me container mx-auto p-auto">
        Hey,Everyone
        Pratyush Here,
        a student from ITER,Bhubaneswar
        interning as a full stack web development intern at <mark>SIEMENS</mark>

        i love to code

        
    </div>    
    <div class="about-me container mx-auto p-auto">
        To become a part of a challenging organization with strong and dynamic environment that provides generous opportunities for learning in the field of engineering, to utilize my technical skills and analytical ability in the field that offers professional growth while being resourceful, innovative and flexible. Skilled in Python Programming Language, Python (Programming Language), JavaServer Pages (JSP), CSS, ReactJS(Web Development),Tkinter.
    </div>     -->
</div>
</section>