img{
    height: 50px;
    width: 55px;
    border-radius: 50%;
}
.right{
    float: right;
    margin-left: auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.navbar{
    position: fixed;
    z-index: 1;
    top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
   
}
li:hover{
    color: black;
    background: wheat;
}