<div class="container p-3 mb-5 pb-4">
    <nav class="navbar navbar-expand-lg navbar-light navbar-inverse bg-light d-block mx-auto">
        <div class="container-fluid">
            <a class="navbar-brand"routerLink="home">
                <img src="../../assets/pictures/profile.jpg">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class=" nav justify-content-center navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="about">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="photos">photos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="skills">skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="projects">projects</a>
              </li>
              <li class="nav-item">
                <a href="https://drive.google.com/file/d/1ixfeZjrSHhswhOHxskes3wYsPtOVAI7m/view?usp=sharing" target="_blank" class="nav-link active" aria-current="page" download="resume">Resume</a>
              </li>
              
              
              
              
             
            </ul>
           <!-- <div class="right">
            <ul class="nav navbar-nav navbar-right mr-0">
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="fa fa-facebook-official fa-lg text-primary"></i></a>
              </li>
              <li class="nav-item" >
                <a href="#" class="nav-link"><i class="fa fa-instagram fa-lg instagram" ></i></a>
              </li>
             
              <li class="nav-item" >
                <a href="#" class="nav-link"><i class="fa fa-whatsapp fa-lg text-success" aria-hidden="true"></i></a>
              </li>
             
            </ul>
           </div> -->
            
        
           
        
          
          </div>
        </div>
        
      </nav>
</div>
