<section>
    <div class="container-fluid">
       
        <div class="main-text">
            <h1 class="display-2">Projects Page</h1>
        </div>
        
    </div>
    </section>
<div class="container-fluid relative">
    <h1 class="display-6 text-center text-secondary">projects</h1>
    <div class="table2">
        <table class="table table-responsive table-warning table-striped" >
            <thead class="bg-white">
                <th>sl.No</th>
                <th>Name</th>
                <th>Tech Used</th>
                <th>Duration</th>
            </thead>
    
            <tbody>
                <tr *ngFor="let item of projects">
                    <td>{{item.serialNumber}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.techUsed}}</td>
                    <td>{{item.duration}} Months</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
