.relative{
    position: relative;
    top: 45px;
}
table{
    margin: 40px auto;
}
.table2{
   display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
    left: 9%;
    right: 10%;
}
th,td{
    text-align: center;
}
@media screen and (max-width: 750px) {
    .table2
    {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 40%;
         position: relative;
         left: 29%;
         right: 30%;
     }
     th,td{
        text-align: center;
        font-size: 0.9em;
       
    }
}
h1{
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}
.main-text{
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    background: url('../../../../../WAllpapers/yosemite-5120x2880-5k-4k-wallpaper-8k-forest-stars-sunset-osx-apple-3956.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-attachment: scroll;
    background-position-x: left;
    background-position-y: center;
    height: 70vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
@media screen and (min-width:240px) and (max-width: 749px){
    .table2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        position: relative;
        left: 35.25%;
        right: 34.25%;
    }
    th,td{
        text-align: center;
        font-size: 0.9em;
        
    }
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}