<section>


<div class="container-fluid">
    <!-- <img src="https://source.unsplash.com/1600x300/?nature" class="img-fluid"> -->
    <div class="main-text text-white">
        <h1 class="display-4">Skills And Interests</h1>
    </div>
</div>
</section>

<div class="container">
    <div class="skills">
        <div class="row text-center">
            <h3 class="alert alert-success mb-5">Languages with their level of understanding</h3>
            
                <div class="col mx-2">
                    <h2 class="text-center alert alert-secondary">languages</h2>
                    <ul style="list-style: none;" class="list-group">
                        <li class="list-group-item">c</li>
                        <li class="list-group-item active">java</li>
                        <li class="list-group-item">javascript</li>
                        <li class="list-group-item">python</li>
                        <li class="list-group-item">c#</li>
                    </ul>
               
                </div>
                <div class="col mx-2 ">
                    <h2 class="text-center alert alert-warning">expertise</h2>
                    <ul style="list-style: none;" class="list-group">
                        <li class="list-group-item">x</li>
                        <li class="list-group-item"> xxx</li>
                        <li class="list-group-item">x</li>
                        <li class="list-group-item">x</li>
                        <li class="list-group-item">xx</li>
                    </ul>
                </div>
        </div>
        <div class="row text-center mt-5 ">
            <h3 class="panel alert alert-success">other skills</h3>
            <div class="col-md-8 offset-md-2 mb-4">
                <ul class="list-group">
                    <li class="list-group-item">web development</li>
                    <li class="list-group-item">mobile photography</li>
                    <li class="list-group-item">video editing</li>
                </ul>
            </div>
        </div>
    </div>


</div>