.main-text{
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* img{
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center; 
     background-size: cover;
     height: 80vh;
     width: 96vw;
     position: absolute;
     left: 2vw;
     right: 2vw;
 } */
 .main-text h1{
     font-weight: 900;
     text-shadow: 0 6px #000000;
     transform: translateY(-50%);
 }
 .skills{
    position: relative;
    top: 67px;
}
section{
    background: url('../../assets/pictures/simon-matzinger-twukN12EN7c-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-attachment: scroll;
    background-position-x: left;
    background-position-y: center;
    height: 70vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}