<section>


<div class="container-fluid">
    <!-- <img src="https://source.unsplash.com/1600x900/?nature" class="img-fluid mb-5"> -->
    <div class="main-text text-white">
        <h1 class="display-2">Photos Page</h1>
    </div>
</div>
</section>

    <div class="photos">
        <div class="row">
            <h1 class="text-center mb-5 pb-3 alert alert-success">Top 5 best photos clicked my me</h1>
            <div class="col-md-6 col-sm-12 mx-auto text-center" *ngFor="let i of data">
                <div class="card" style="width: 15rem;">
                    <div class="pic" style="background-image: url({{i.url}});" [ngClass]="'hello'"></div>
                    <div class="card-body">
                        <h4>{{i.date}}</h4>
                    </div>
                   
                </div><br>
            </div>
        </div>
    </div>
  <br><br>

<app-footer></app-footer>