.main-text{
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* img{
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center; 
     background-size: cover;
     height: 80vh;
     width: 96vw;
     position: absolute;
     left: 2vw;
     right: 2vw;
 } */
 .photos{
    position: relative;
    top: 110px;
}
img.card-img-top{
    
    width: 300px;
    height: 200px;
   
}
.hello{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
}
.main-text h1{
    font-weight: 900;
   
    transform: translateY(-50%);
}
.card{
    display: block;
    margin: auto;
}
section{
    background: url('../../../../../WAllpapers/safari-5120x2880-orange-macos-big-sur-apple-october-2020-event-5k-23092.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: center;
    height: 70vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}