/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
body{
    font-family: 'B612', sans-serif;
    text-transform: capitalize;
    overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
