<head>
  
</head>
<section>


<div class="container-fluid ">
    <!-- <img src="https://source.unsplash.com/1600x400/?landscape" class="img-fluid mb-5"> -->
    <div class="main-text">
        <h1 class="text-white">hello world,Fellas!</h1>
        <a routerLink="../about" download>Know More</a><br>
        
    </div>
    
</div>
</section>
<br>

<div class="container mx-auto">
    <div class="interests mt-1">
        <h1>my interests</h1><br>
        <div class="row">
            <div class="col mx-auto text-center" *ngFor="let i of data">
                <div class="card" style="width: 15rem;">
                    <div class="pic" style="background-image: url({{i.url}});" [ngClass]="'hello'"></div>
                    <div class="card-body">
                      <p class="card-text">
                        {{i.content}}
                      </p>
                    </div>
                    <div class="card-footer bg-dark">
                      <a href="https://www.google.com/search?q={{i.value}}" target="_blank">Know More</a>
                    </div>
                </div><br>
            </div>
        </div>
</div>
</div>

<app-footer></app-footer>