/* img{
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    height: 80vh;
    width: 96vw;
    position: absolute;
    left: 2vw;
    right: 2vw;
} */
.main-text{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}
.main-text h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: white;
}
a{
    color: white;
    text-decoration: none;font-weight:7angu00;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.interests{
    position: relative;
    top: 0;
}
img.card-img-top{
    
    width: 300px;
    height: 200px;
   
}
.hello{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
}
.card{
    display: block;
    margin: auto;
}
section{
    background: url('../../assets/pictures/macos-big-sur-3840x2160-wwdc-2020-4k-22654.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-attachment: scroll;
    background-position-x: left;
    background-position-y: center;
    height: 70vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}